{% extends 'base.html' %}

{% block app_content %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1>About Me</h1>                
            </div>
        </div>

        <div class="row about-me">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 align-self-center">
                    <img class="img-fluid" style="max-width: 100%; height: auto;" src=" /static/images/aarti-two.jpeg " alt="Instructor">
                    <p class="my-name"><a href="https://www.linkedin.com/in/aartijoshi9819/" target="_blank">Aarti Joshi</a></p>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
                    <h4>Background</h4>                
                    <p>
                        I am a Backend Developer working with various technologies in my day to day life to solve complex problems while drinking coffee and eating chocolates.
                        I am always trying to explore new technologies and work with them.
                    </p>
                    <h4>My Education and Experience</h4>
                    <p> I completed my BTech in 2020 but have been experimenting and creating projects with Python and its framework Django since 2017. Later on I got hands on 
                        experience  with Django Rest Framework, AWS services, SQL and NoSQL databases, Docker, Flask and Javascript. I have also been a mentor for Python in my 
                        college community called Geekhub in 2017-18 and after that senior mentor and co-ordinator since then.
                    </p>
                    <h4>My Interests</h4>
                    <p> I am a Potterhead who loves to read novels and collect variety of Post-it notes and notebooks or any other stationary. I consider myself to be a foodie 
                        when it comes to Pizza and.. well almost all the time :p.
                    </p>
                    
                    <p>I like to write about anything, Be it technology or weather or feelings or philosphies or maybe the ticking of clock at any odd hour. And I am trying to
                        write more content by being here.
                    </p>
 
                    <h4>My Gratitude</h4>
                    <p>
                        Thank you for stopping by! I hope you find something of interest. If you like anything here or you are interested in clarification of the 
                        contents blogged here, I will be glad to hear from you in the comments sections.
                    </p>   
                </div>
            </div>
        </div>

    </div>
{% endblock %}