{% extends 'base.html' %}
{% block content %} 
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Admin Dashboard</h1>
                    <h3>For administrators only!</h3>
                    
                    {% include '_flashed_messages.html' %}
                    
                    <div class="btn">
                        <a href="{{ url_for('admin.admin_add_blog') }}">Add Blog</a>
                    </div>
                    <hr class="intro-divider">
                    </ul>
                </div>

                {% include '_all_blogs.html' %}
        </div>
    </div>
</div>
{% endblock %}