{% extends 'base.html' %}

{% block app_content %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1>Hire Me</h1>                
            </div>
        </div>

        <div class="row hire-me">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 align-self-center">
                    <p>Aarti Joshi</p>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
                    <h3>Contact Information</h3>    
                    <p>Linkedin: <a href="https://www.linkedin.com/in/aartijoshi9819/" target="_blank">https://www.linkedin.com/in/aartijoshi9819/</a></p>
                    <p>Github: <a href="https://github.com/aarti98" target="_blank">https://github.com/aarti98</a></p>

                    <h3>Work Experience</h3>
                        <h4>The Solar Labs, Bengaluru, India (October 2021 to Present)</h4>
                        <h4>Senior Software Developer</h4>
                            <p>1. Working as a senior backend developer to create softwares which helps solar companies to design solar panels and comprehend various solar
                                prospects for commercial as well as residential sector.</p>
                            <p>2. Responsible to do research, POCs and plan the roadmap for new developments.</p>
                            <p>3. Develop backend features with Python, Django Rest Framework, Flask and handle deployment with Docker and Azure devops.</p>
                            <p>4. Work with metabase to handle Postgresql database transactions and records.</p>
                            <p>5. Following Agile methodology with kanban framework by using Jira</p>

                        <h4>Tradexa technologies, Pune, India (February 2020 to October 2021)</h4>
                        <h4>Backend Developer</h4>
                            <p>1. Creating APIs for an e-commerce retail chain platform where B2B as well as B2C can signup and manage their orders, products, inventories 
                                and team members</p>
                            <p>2. Handle databases like Postgresql as well as NoSQL database like Dynamodb.</p>
                            <p>3. On hand experience with AWS services like EC2, S3, Dynamodb, Codecommit, SQS and step functions. </p>
                            <p>4. Followed microservice architecture to work with various features and services</p>
                            <p>5. Payment integration with Razorpay and Paytm and shipment integration with different shipment services</p>
                            <p>6. Worked with Elasticsearch and Kibana to store and retrieve data dynamically</p>

                        <h4>Altair Engineering, Bengaluru, India(June 2019 to October 2019)</h4>
                        <h4> Python Intern</h4>
                            <p>1. Created a UI dialog (Event Builder) used by clients to create Altair Driver Files for vehicle simulation and automation using 
                                Tkinter(Python) and OOPS concepts</p>
                            <p>2. Redesigned the dialog boxes from scratch for a GUI Application using Tkinter (Python)</p>
                </div>
        </div>
{% endblock %}