<h3>Comments</h3>
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=100) }}<br>
        {% for error in form.bodyerrors %}
            <span style="color: orangered;"> {{ error }} </span>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content() }}<br>
        {% for error in form.content.errors %}
            <span style="color: orangered;"> {{ error }} </span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>


</form>